SECRET_KEY=your-secret-key-here
DEBUG=your-debug-setting-here

DB_NAME=your-database-name-here
DB_USER=your-database-user-here
DB_PASSWORD=your-database-password-here
DB_HOST=your-database-host-here
DB_PORT=your-database-port-here